
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Solar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand"><img class="brand-logo" src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Web Sites <span class="badge badge-primary badge-pill">3</span><span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="Sites">
                <a class="dropdown-item" href="/">Pythonanywhere</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://wichit2s.gitlab.io">Gitlab</a>
                <a class="dropdown-item" href="https://wichit2s.github.io">Github</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Books <span class="badge badge-primary badge-pill">4</span><span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="https://wichit2s.gitlab.io/datascience" download>Data Science</a>
                <a class="dropdown-item" href="https://wichit2s.gitlab.io/nodejs" download>Node.js</a>
                <a class="dropdown-item" href="https://wichit2s.gitlab.io/python" download>Python Programming</a>
                <a class="dropdown-item" href="https://wichit2s.gitlab.io/commath" download>Computational Mathematics</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 5em;">
    {% block content %}

    {% endblock %}
    </div>

    <script src="{% static 'myapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'myapp/js/popper.min.js' %}"></script>
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/custom.js"></script>
  </body>
</html>

