{% extends 'base.html' %}
{% block content %}
<div class="container"> </div>

<div>
  <div class="bs-docs-section">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="containers">Blogs</h1>
        </div>
        <div class="bs-component">
          <div class="jumbotron">
            <h1 class="display-3">Hello, blog!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
