{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding-top: 5em;"> </div>

<div>
  <div class="bs-docs-section">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="containers">About me</h1>
        </div>
        <div class="bs-component">
          <div class="jumbotron">
            <h1 class="display-3">Wichit Sombat, PhD</h1>
            <p class="lead">A good lecturer is also an active learner.</p>
            <hr class="my-4">
            <p>I'm a lecturer, a fisherman, a software developer, and a data scientist.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">wichit2s</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
